@{
}
@model UsuarioActualizarModel
<h3>Eliminar Usuario</h3>
<hr />
<p>¿Estas seguro de Eliminar al usuario: @Model.Nombres?</p>
<div class="card">
    <div class="card-body">
        <form action="EliminarUsuario" method="post">
            <input asp-for="Id" type="hidden" />

            <a asp-controller="Usuarios" asp-action="Index" class="btn btn-secondary">Cancelar</a>
            <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="bi bi-trash"></i></button>
        </form>
    </div>
</div>
